body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #27935d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .hamburguer {
        display: flex;
    }
}
